body {
	overflow:hidden;
	font-size: 100%;
}

@font-face {
	font-family: 'Open-Dyslexic';  
	src: url(../../Fuentes/OpenDyslexic-Regular.otf);
}

.contenedorPrincipal{
	display:flex;
	justify-content: center;
	align-items: center;
}

.contenedor{
	width: 60%;
	height: auto;
	margin-top: 4rem;
	font-family: 'Open-Dyslexic', sans-serif; 
	overflow: hidden;
}

.contenedorImagen {
	display: flex;
	justify-content: center;
	align-items: center;
}

.instruccion {
	display: grid;
	grid-template-columns: 15% 85%;
	margin-top: 1rem;
}

.contenedor-opciones {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
    .contenedor-opciones {
        grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
    }
}

#texto {
	text-decoration: none;
 	color: black;
	font-size: 2.5vw;
}


#icono-bocina {
	width: 90%;
}

#encabezado {
	width: 50%;
}

#continuar {
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

#btn-continuar {
	width: 20%;
	background-color: #16be2c;
	border-radius: 8px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 2vw;
	padding: 8px 12px;
	text-decoration: none;
	font-family: "Open-Dyslexic", sans-serif;
	text-align: center;
}

#btn-continuar:hover {
	background-color: #0d791b;
}

#imagen1{
	width: 30%;
	margin-bottom: 1rem;
}

#opcion1, #opcion2, #opcion3, #opcion4 {
	width: 100%;
	display: flex;
	justify-content: center;
}