body {
	overflow:hidden;
}

@import url('https://fonts.cdnfonts.com/css/open-dyslexic');

.contenedor{
	width: 630px;
	max-width: 630px;
	height: 430px;
	max-height: 430px;
	font-family: 'Open-Dyslexic', sans-serif; 
	overflow: hidden;
}

.instruccion {
	display: flex; /* Establece la visualización en línea de los elementos */
	align-items: center; /* Centra verticalmente los elementos */
  }
  
  .instruccion img {
	margin-right: 10px; /* Agrega un margen a la derecha de la imagen para separarla de la instrucción */
  }

#icono-bocina {
	width: 70px;
	height: 70px;
	margin-left: 5%;
}

#continuar {
	position: absolute;
	left: 270px;
	top: 392px;
	display: none;
}

#btn-continuar {
	width: 106px;
	background-color:#3d94f6;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
}

#btn-continuar:hover {
	background-color:#1e62d0;
}

#imagenSonido{
	height:40px;
}

#imagen1{
	position:absolute;
	left:180px;
	width: 12%;
	height: auto;
}

#opcion1{position:absolute;top:350px;left:52px;}
#opcion2{position:absolute;top:350px;left:194px;}
#opcion3{position:absolute;top:350px;left:336px;height: auto;}
#opcion4{position:absolute;top:350px;left:478px;height: auto;}
