body {
	overflow:hidden;
	font-size: 100%;
}

@font-face {
	font-family: 'Open-Dyslexic';  
	src: url(../../Fuentes/OpenDyslexic-Regular.otf);
}

.contenedor-principal {
	display:flex;
	justify-content: center;
	align-items: center;
}

.contenedor{
	width: 60%;
	height: auto;
	margin-top: 4rem;
	font-family: 'Open-Dyslexic', sans-serif; 
	overflow: hidden;
}

#texto {
	text-decoration: none;
 	color: black;
	font-size: 2.5vw;
}

.instruccion {
	display: grid;
	grid-template-columns: 15% 85%;
	margin-top: 1rem;
}

.contenedorImagen {
	display: flex;
	justify-content: center;
	align-items: center;
}

.opciones-respuesta {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 23% 77%;
	align-items: center;
	justify-items: center;
	flex-wrap: wrap;
}

/* Imagen principal */
#imagen1{
	width: 25%;
	margin-bottom: 5%;
}

#icono-bocina {
	width: 90%;
}

#encabezado {
	width: 50%;
}

#continuar {
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

#btn-continuar {
	width: 20%;
	background-color: #16be2c;
	border-radius: 8px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 2vw;
	padding: 8px 12px;
	text-decoration: none;
	font-family: "Open-Dyslexic", sans-serif;
	text-align: center;
}


#btn-continuar:hover {
	background-color: #0d791b;
}

#opcion1, #opcion2, #opcion3, #opcion4 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.contenedorNumeracion {
	background-color: #57ebbe;
	margin: 5%;
	border-radius: 50%;
	border: 2px solid rgb(34, 102, 68);
	width: 45%; /* Ajusta el ancho y alto según tus necesidades */
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px; /* Ajusta el tamaño del número */
	font-weight: bold; /* Opcional: ajusta el peso de la fuente */
	color: #302f2f; /* Opcional: ajusta el color del número */
}