body {
	overflow:hidden;
}

@import url('https://fonts.cdnfonts.com/css/open-dyslexic');

.contenedor{
	width: 630px;
	max-width: 630px;
	height: 430px;
	max-height: 430px;
	font-family: 'Open-Dyslexic', sans-serif; 
	overflow: hidden;
}

#texto {
	text-decoration: none;
 	color: black;
}

.instruccion {
	display: flex; /* Establece la visualización en línea de los elementos */
	align-items: center; /* Centra verticalmente los elementos */
  }
  
  .instruccion img {
	margin-right: 10px; /* Agrega un margen a la derecha de la imagen para separarla de la instrucción */
  }

#icono-bocina {
	width: 70px;
	height: 70px;
	margin-left: 5%;
}

#encabezado {
	width: 630px;
	height: 30px;
}

#continuar {
	position: absolute;
	left: 270px;
	top: 398px;
	display: none;
}

#btn-continuar {
	width: 80px;
	background-color: #16be2c;
	border-radius: 8px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding: 8px 12px;
	text-decoration: none;
	font-family: "Open-Dyslexic", sans-serif;
	text-align: center;
}


#btn-continuar:hover {
	background-color: #0d791b;
}


#imagen1{
	position:absolute;
	left:80px;
	top: 400px;
	width: 550px;
	height: auto;
}


#respuesta{
	position:absolute;
	font-family: 'Open-Dyslexic', sans-serif; 
	font-size: 30px; 
	border: 2px solid #bb5b02; 
	padding: 5px;
	left: 210px;
	top: 350px;
	width: 200px;
	height: 30px;
	font-size: 20px;
	text-align: center;
}
